:root {
    --box-shadow-classic: 2px 2px 3px 1px rgba(169, 169, 169, 0.2), -2px 2px 3px 1px rgba(169, 169, 169, 0.2);
}

/* remove microsoft edge's built-in password show icon */
::-ms-reveal {
    display: none
}

/* specifically to address black border on chakra select input */
.chakra-select__trigger {
    border: none !important;
    outline: none !important; 
}

.IoClose:hover {
    color: rgb(177, 177, 177)
}

.IoClose{
    color: gray;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.FaArrowLeft:hover {
    color: gray
}

.FaArrowLeft{
    color: lightgray;
    transition: all 0.1s ease-in-out;
}

.backContainer:hover .FaArrowLeft{
    transform: translateX(-8px);
}